# Firebase Configuration (Vite)
# Replace these values with your actual Firebase Project credentials from Firebase Console > Project Settings > General > Your apps > Web app

  apiKey: "AIzaSyAGbAygBSVei5HOeuD385O323w-HFFG5nY",
  authDomain: "my-portfolio-fb20b.firebaseapp.com",
  projectId: "my-portfolio-fb20b",
  storageBucket: "my-portfolio-fb20b.firebasestorage.app",
  messagingSenderId: "157662055758",
  appId: "1:157662055758:web:d5f64bf91cb7e843e6a21f",
  measurementId: "G-K4JZ6TB88C"

